:root {
    --white: #FFFFFF;
    --gray-95-light: #F2F2F2;
    --gray-89-light: #E4E4E4;
    --blue-89-light: #DFE1E5;
    --gray-39-light: #5F6368;
    --black: #000000;
    --link-unvisited: #1A73E8;
}

/* FONTS */

.arial {
    font-family: Arial, Helvetica, sans-serif;
}

/* CONTAINER */

.container {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
}

/* NAV */

.nav {
    display: inline-block;
    position: absolute;
    height: 12.7vh;
    width: 100vw;
    border-bottom: 1px solid var(--gray-95-light);
}

.nav > img {
    position: absolute;
}

#google_logo {
    top: 28px;
    left: 30px;
    height: 30px;
    width: 92px;
}

.options {
    position: absolute;
    bottom: 0;
    left: 156px;
    height: 40px;
    width: 614px;
}

.options a {
    position:absolute;
    top: 10px;
    font-size: small;
    text-decoration: none;
    color: var(--gray-39-light);
}

#all {
    width: 48px;
    padding: 0 0 12px 10px;
    border-bottom-style: solid;
    color: var(--link-unvisited);
}

#all_logo {
    height: 16px;
    width: 16px;
    margin: -1px 1px -3px 0;
}

#news {
    left: 72px;
}

#news_logo {
    height: 13px;
    width: 13px;
    margin: 0 2px -1px 0;
}

#videos {
    left: 149px;
}

#video_logo {
    height: 14px;
    width: 14px;
    margin: 0 1px -2px 0;
}

#maps {
    right: 329px;
}

#maps_logo {
    height: 13px;
    width: 13px;
    margin-bottom: -1px;
}

#shopping {
    right: 230px;
}

#shopping_logo {
    height: 14px;
    width: 14px;
    margin: 0 2px -3px 0;
}

#more {
    right: 165px;
}

#more_logo {
    height: 10px;
    width: 10px;
    margin-right: -1px;
}

#settings {
    right: 55px;
}

#tools {
    right: 0;
}

#apps {
    height: 16px;
    width: 16px;
    top: 35px;
    right: 97px;
}

#account {
    height: 32px;
    width: 32px;
    top: 27px;
    right: 44px;
}