:root {
    --white: #FFFFFF;
    --gray-95-light: #F2F2F2;
    --gray-89-light: #E4E4E4;
    --blue-89-light: #DFE1E5;
    --gray-64-light: #9e9e9e;
    --gray-50-light: #808080;
    --gray-47-light: #777777;
    --gray-39-light: #5F6368;
    --gray-33-light: #545454;
    --gray-20-light: #333333;
    --gray-13-light: #222222;
    --black: #000000;
    --link-unvisited: #1A73E8;
    --search-link-unvisited: #1A0DAB;
    --url-green: #006621;
}

/* FONTS */

.container * {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
}

/* CONTAINER */

.container {
    position: absolute;
    left: 0;
    top: 0;
    height: 289.5vh;
    width: 99.27vw;
}

/* NAV */

.nav {
    display: inline-block;
    height: 12.7vh;
    width: inherit;
    border-bottom: 1px solid var(--gray-95-light);
}

#google_logo {
    top: 28px;
    left: 30px;
    height: 30px;
    width: 92px;
}

.options {
    bottom: 0;
    left: 156px;
    height: 40px;
    width: 614px;
}

.options a {
    top: 10px;
    font-size: small;
    text-decoration: none;
    color: var(--gray-39-light);
}

.options img {
    position: relative;
}

#all {
    width: 48px;
    padding: 0 0 12px 10px;
    border-bottom-style: solid;
    color: var(--link-unvisited);
}

#all_logo {
    height: 16px;
    width: 16px;
    margin: -1px 1px -3px 0;
}

#news {
    left: 72px;
}

#news_logo {
    height: 13px;
    width: 13px;
    margin: 0 2px -1px 0;
}

#videos {
    left: 149px;
}

#video_logo {
    height: 14px;
    width: 14px;
    margin: 0 1px -2px 0;
}

#maps {
    right: 329px;
}

#maps_logo {
    height: 13px;
    width: 13px;
    margin-bottom: -1px;
}

#shopping {
    right: 230px;
}

#shopping_logo {
    height: 14px;
    width: 14px;
    margin: 0 2px -3px 0;
}

#more {
    right: 165px;
}

#more_logo {
    height: 10px;
    width: 10px;
    margin-right: -1px;
}

#settings {
    right: 55px;
}

#tools {
    right: 0;
}

#apps {
    height: 16px;
    width: 16px;
    top: 35px;
    right: 83px;
}

#account {
    height: 32px;
    width: 32px;
    top: 27px;
    right: 30px;
}

.search {
    background-color: var(--white);
    border: 1px solid var(--blue-89-light);
}

#search_input {
    padding: 3px 0 5px 20px; 
    top: 20px;
    left: 146px;
    width: 570px;
    border-top-left-radius: 23px;
    border-bottom-left-radius: 23px;
    border-right-style: none;
    font-size: 16px;
    line-height: 36px;
}

#search_btn {
    padding: 11px 16px 11px 4px;
    top: 20px;
    left: 737px;
    width: 49px;
    border-top-right-radius: 23px;
    border-bottom-right-radius: 23px;
    border-left-style: none;
}

#search_logo {
    position: relative;
    height: 19px;
    width: 30px;
}

/* SEARCH RESULTS */

#search_results {
    top: 122px;
    left: 150px;
    height: 500px;
    width: 80vw;
    padding: 0;
}

.search_link {
    color: var(--search-link-unvisited);
    text-decoration: none;
    font-size: 20px;
    line-height: 26px;
}

.url {
    top: 30px;
    color: var(--url-green);
    font-size: 16px;
    text-decoration: none;
}

.snippet {
    top: 37px;
    color: var(--gray-33-light);
    font-size: 14px;
    line-height: 1.57;
}

#search_results > div > p > strong {
    position: relative;
}

#numerical_results {
    top: 1px;
    left: 16px;
    font-size: 14px;
    text-decoration: none;
    color: var(--gray-47-light);
}

.search_result {
    left: 16px;
    height: 120px;
    width: 600px;
}

#search_result_1 {
    top: 50px;
}

#search_result_2 {
    top: 194px;
}

#search_result_3 {
    top: 316px;
}

#search_result_4 {
    top: 1098px;
}

#search_result_5 {
    top: 1220px;
}

#search_result_6 {
    top: 1342px;
}

#search_result_7 {
    top: 1465px;
}

#search_result_8 {
    top: 1587px;
}

#search_result_9 {
    top: 1709px;
}

/* SEARCH SUGGESTIONS */

#suggestions {
    top: 440px;
    left: -4px;
    height: 220px;
    width: 638px;
    border: 1px solid var(--blue-89-light);
    border-radius: 8px;
}

#suggestion_header {
    left: 16px;
    color: var(--gray-13-light);
    font-size: 20px;
    line-height: 1.3;
    font-weight: normal;
    margin-top: 9px;
}

.suggestion {
    height: 44px;
    width: inherit;
    color: var(--gray-13-light);
    background-color: var(--white);
    border-style: none;
    border-top: 1px solid var(--blue-89-light);
    font-size: 16px;
}

#suggestion_1 {
    top: 44px;
    padding-right: 358px;
}

#suggestion_2 {
    top: 88px;
    padding-right: 348px;
}

#suggestion_3 {
    bottom: 44px;
    padding-right: 323px;
}

#suggestion_4 {
    bottom: 0;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    padding-right: 317px;
}

.droplist {
    right: 14px;
    height: 24px;
    width: 28px;
}

#droplist_1 {
    top: 53px;
}

#droplist_2 {
    top: 97px;
}

#droplist_3 {
    top: 141px;
}

#droplist_4 {
    top: 185px;
}

#suggestion_feedback {
    right: 15px;
    bottom: 0;
    color: var(--gray-47-light);
    text-decoration: none;
    font-size: 12px;
    font-style: italic;
    margin-bottom: -20px;
}

/* VIDEO RESULTS */

#video_results {
    top: 706px;
    height: 350px;
    width: 631px;
    padding: 0;
}

#video_header {
    left: 16px;
    color: var(--gray-13-light);
    font-weight: normal;
    font-size: 20px;
}

.video_result {
    bottom: 0;
    height: 84%;
    width: 32.2%;
    border: 1px solid var(--blue-89-light);
    border-radius: 8px;
}

.video {
    height: 39%;
    width: 100%;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-style: none;
}

.video_link {
    top: 131px;
    left: 16px;
    width: 140px;
    text-decoration: none;
    line-height: 1.375;
}

.sitename {
    bottom: 19px;
    left: 16px;
    font-size: 14px;
    color: var(--gray-50-light);
}

.video_meta_data {
    bottom: 0;
    font-size: 12px;
}

.hostsite {
    left: 16px;
    color: var(--url-green);
}

.publish_date {
    left: 68px;
    color: var(--gray-50-light);
}

#video_result_2 {
    left: 213px;
}

#video_result_3 {
    right: 0;
}

/* RELATED RESULTS */

.related_search {
    left: 146px;
    width: 638px;
    border: 1px solid var(--blue-89-light);
    border-radius: 8px;
}

#related_search_1 {
    top: 1954px;
    height: 189px;
}

#related_search_2 {
    top: 2172px;
    height: 225px;
}

.related_search_h2 {
    top: 4px;
    left: 16px;
    font-size: 14px;
    font-weight: lighter;
    color: var(--gray-50-light);
}

.related_search_h3 {
    top: 17px;
    left: 16px;
    font-size: 20px;
    font-weight: normal;
    color: var(--gray-13-light);
}

.related_search_results {
    top: 76px;
    left: 17px;
}

.related_search_result {
    height: inherit;
    width: 72px;
}

.related_search_logo_link {
    height: 72px;
    width: inherit;
}

.related_search_logo {
    height: inherit;
    width: inherit;
}

.related_search_link {
    bottom: 0;
    font-size: 14px;
    text-decoration: none;
    color: var(--search-link-unvisited);
    line-height: 1.29;
}

#related_search_result_1 {
    height: 93px;
    width: 424px;
}

#related_search_result_1_2 {
    left: 88px;
}

#related_search_result_1_3 {
    left: 176px;
}

#related_search_result_1_4 {
    left: 264px;
}

#related_search_result_1_5 {
    right: 0;
}

.view_more {
    top: 31px;
    right: 15px;
    font-size: 14px;
    font-weight: lighter;
    color: var(--gray-50-light);
}

#related_search_result_2 {
    height: 129px;
    width: 600px;
}

#related_search_result_2_1 {
    height: 93px;
}

#related_search_result_2_2 {
    height: 111px;
    left: 88px;
}

#related_search_result_2_3 {
    left: 176px;
}

#related_search_result_2_4 {
    height: 93px;
    left: 264px;
}

#related_search_result_2_5 {
    height: 93px;
    left: 352px;
}

#related_search_result_2_6 {
    height: 111px;
    left: 440px;
}

#related_search_result_2_7 {
    height: 93px;
    right: 0;
}

/* RELATED INPUT */

.related_input {
    top: 2420px;
    left: 166px;
    height: 163px;
    width: 400px;
}

.related_input_h3 {
    font-size: 20px;
    font-weight: normal;
    color: var(--gray-13-light);
}

#related_input a {
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: var(--search-link-unvisited);
}

#related_input_1 {
    top: 69px;
}

#related_input_2 {
    top: 95px;
}

#related_input_3 {
    top: 121px;
}

#related_input_4 {
    bottom: 0;
}

/* GOOGLE SEARCH NAV */

.google_search_nav {
    top: 2615px;
    left: 306.49px;
    height: 60px;
    width: 313px;
}

.google_table {
    height: inherit;
    width: inherit;
}

.google_body {
    height: inherit;
    width: inherit;
}

.google_row {
    height: inherit;
    width: inherit;
}

.google_col {
    height: inherit;
    width: 18.2px;
}

.search_num {
    bottom: 4px;
    left: 6px;
    font-size: 14px;
    text-decoration: none;
    color: var(--link-unvisited);
}

#blue_g {
    height: 32.5px;
    width: inherit;
}

#google_search_nav_col_1 {
    width: 31px;
}


#google_search_nav_col_2 {
    left: 30px;
}

#google_search_nav_col_3 {
    left: 51px;
}

#google_search_nav_col_4 {
    left: 71px;
}

#google_search_nav_col_5 {
    left: 91px;
}

#google_search_nav_col_6 {
    left: 111px;
}

#google_search_nav_col_7 {
    left: 131px;
}

#google_search_nav_col_8 {
    left: 151px;
}

#google_search_nav_col_9 {
    left: 171px;
}

#google_search_nav_col_10 {
    left: 191px;
}

#google_search_nav_col_11 {
    left: 211px;
}

#google_search_nav_col_12 {
    right: 0;
    height: inherit;
    width: 80px;
}

#google_search_nav_1 {
    left: 7px;
    bottom: -10px;
    opacity: 0.87;
    color: var(--black);
}

.o {
    top: 13px;
    height: 18.2px;
    width: inherit;
}

#search_10 {
    left: 2px;
}

#next {
    right: 0;
    bottom: 4px;
    font-size: 14px;
    text-decoration: none;
    color: var(--link-unvisited);
}

#google_end {
    top: 3px;
    height: 36px;
    width: 43px;
}

#blue_right_arrow {
    top: 11px;
    right: 8.5px;
    height: 13px;
    width: 12px;
}

/* FOOTER */

.footer {
    bottom: 0;
    height: 65px;
    width: inherit;
    background-color: var(--gray-95-light);
    border-top: 1px solid var(--gray-89-light);
}

.footer_location {
    top: 6px;
    left: 166px;
    height: 14px;
    width: 500px;
}

.footer_circle {
    height: 10px;
    width: 10px;
    background-color: var(--gray-64-light);
    border-radius: 100%;
}

.footer_link {
    font-size: small;
    color: var(--gray-39-light);
    text-decoration: none;
}

#p_location {
    top: -15px;
    left: 14px;
    font-size: small;
    font-weight: bold;
    color: var(--gray-20-light);
}

#location_guide {
    top: -15px;
    left: 164px;
    font-size: small;
    color: var(--gray-39-light);
}

#location_precise {
    width: 200px;
    left: 341px;
}

.footer_options {
    left: 166px;
    bottom: 13px;
    height: 15px;
    width: 274px;
}

#footer_feedback {
    left: 53px;
}

#footer_privacy {
    left: 167px;
}

#footer_terms {
    right: 0;
}